* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: "Lato", Helvetica, sans-serif;
   font-style: normal;
   font-weight: normal;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.text {
   font-size: 14px;
   line-height: 17px;
   color: $color-gray_2;
}

.uppercase {
   text-transform: uppercase;
}

input, 
button {
   font-family: inherit;
} 