* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.uppercase {
    text-transform: uppercase;
}



.header {
    background-color: #222222;
    padding: 18px 0;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left-logo {
    margin-right: 41px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__section {
    list-style-type: none;
}

.menu__user {
    margin-right: 33px;
    margin-left: 33px;
}

.menu__cart {
    margin-right: 10px;
}



.new_top {
    background: #F8F3F4;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.new_top__text-left {
    padding: 60px 0;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}



.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 96px 0 128px;
} 

.main__cards {
    display: flex;
    flex-direction: column;
    max-width: 652px;
    margin-right: 128px;
} 

.card {
    display: flex;
    width: 100%;
    background: #F8F8F8;
    transition: 0.5s;
}

/***Наведение на card***/
.card:hover {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
/***Наведение на card***/

.card-1 {
    margin-bottom: 40px;
}

.card-description {
    padding: 22px 97px 62px 31px;
}

.card-title {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}

.card__characteristics {
    list-style-type: none;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.card__characteristics span {
    color: #F16D7F;;
}

.card-list:not(:last-child) {
    margin-bottom: 6px;
}

.card-input {
    border: 1px solid #EAEAEA;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    margin-left: 25px;
    max-width: 43px;
}

.cross {
    color: #575757;
    padding-top: 28px;
    padding-right: 22px;
}

.cross:hover {
    fill: #F16D7F;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.main__button {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
}

.button-clear, 
.button-continue {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
    padding: 16px 40px;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;;
}

.button-clear:hover, 
.button-continue:hover {
    color: #FFFFFF;
    background: #F16D7F;
}

.main__form {
    display: flex;
    flex-direction: column;
}

.form-total {
    display: flex;
    flex-direction: column;
    margin-bottom: 58px;
}

.form-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.form-input {
    border: 1px solid #A4A4A4;
    margin-bottom: 21px;
    padding: 12px 0 15px 16px;
}

.form-input:hover::placeholder {
    color: #B1B1B1;
}

.form-button {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    padding: 10px 14px;
    max-width: 100px;
    white-space: nowrap;
    background-color: #FFFFFF;
}

.form-button:hover {
    color: #FFFFFF;
    background: #F16D7F;
}

.total {
    background: #F5F3F3;
    padding: 39px 43px 42px;
}

.total__subtitle {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-align: end;
    margin-bottom: 12px;
}

.total__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-align: end;
}

.total__title span {
    color: #F16D7F;;
}

.total-line {
    border: 1px solid #E2E2E2;
    margin-top: 21px;
    margin-bottom: 17px;
}

.total__button {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 15px 42px;
    background: #F16D7F;
    white-space: nowrap;
}

.total__button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}



.our_pluses {
    background-color: #222224;
    margin-top: auto;
}

.our_pluses__wrap {
    display: flex;
    justify-content: space-between; 
    padding: 103px 230px;
    text-align: center;
}

.our_pluses__all {
    display: flex;
}

.our_pluses__title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.plus {
    list-style-type: none;
}

.sales_discounts {
    margin-left: 30px;
    margin-right: 30px;
}



.feedback {
    background-image: url(../images/index/footer-background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
}

.feedback__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.feedback__wrap-text {
    width: 50%;
    padding: 86px 164px 126px 0;
}

.feedback_img {
    margin-bottom: 30px;
}

.feedback_text {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.feedback__wrap-form {
    width: 50%;
    padding: 150px 0 156px 164px; 
}

.span-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.feedback__form-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.feedback__form {
    max-width: 100%;
    display: flex;
}

.feedback__input, 
.feedback__button { 
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
}

.feedback__input {
    background: #E1E1E1;
    padding: 16px 64px 16px 22px;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    width: 256px;
    height: 49px;
    opacity: 0.67;
}

.feedback__input::placeholder {
    color: #222;
    font-size: 14px;
    line-height: 17px;
}

.feedback__input:hover::placeholder {
    color: #FFFFFF;
}

.feedback__input:hover {
    background-color: #222222;
}

.feedback__input:focus {
    outline: none;
    background-color: #F16D7F;
}

.feedback__button {
    color: #FFFFFF;
    background: #F16D7F;
    padding: 16px 8px;
    border-radius: 0 25px 25px 0;
    width: 100px;
}

.feedback__button:hover {
    background-color: #222222;
    color: #9F9F9F;
}



.footer {
    margin-top: auto;
    background-color: #222224;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.copyriting {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__wrap-text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__share {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    list-style-type: none;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fa-facebook-f {
    padding: 8px 11.5px;
}

.fa-instagram {
    padding: 8px 8px;
}

.fa-pinterest-p {
    padding: 8px 10px;
}

.fa-twitter {
    padding: 9.5px 8px;
}

.svg-inline--fa {
    fill: #000000;
    margin-left: 8px;
    background-color: #FFFFFF;
}

.svg-inline--fa:hover {
    fill: #FFFFFF;
    background-color: #F16D7F;
}