@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1600px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.header {
    background-color: #222222;
    padding: 18px 0;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left__logo {
    margin-right: 41px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__section {
    list-style-type: none;
}

.menu__user {
    margin-right: 33px;
    margin-left: 33px;
}

.menu__cart {
    margin-right: 10px;
}


.new_top {
    background: #F8F3F4;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.new_top__text_left {
    padding: 60px 0;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.new_top__text_right {
    padding: 66px 0;
}

.new_top__text_right span {
    color: #F16D7F;
}

.main_top {
    display: flex;
    justify-content: space-between;
    padding: 51px 0 65px 16px; /***подумать по отступу справа**/
}

.main_top a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.main_top__filter {
    margin-left: 304px;
    margin-right: auto;
}

.list {
    display: flex;
    list-style-type: none;
}

.list li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-right: 28px;
}







.cards {
    display: grid;
    gap: 30px;
    grid-template-columns: 
        repeat(auto-fit, minmax(350px, 1fr));
    padding-bottom: 96px;
}

.card_content {
    text-align: left;
    padding: 25px 28px 20px 16px;
}

.card_title {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card_text {
    padding: 13px 0 18px;
}

.price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.carouse {
    border: 1px solid #EBEBEB;
    grid-column: 1/-1;
    margin: 18px auto 0;
}

.carouse a{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 0 13px;
    text-decoration: none;
    color: #EBEBEB;
}

/****доделать карусель****/


.footer {
    margin-top: auto;
}

.footer__top__wrap {
    background-color: #222224;
}

.footer__top {
    display: flex;
    justify-content: space-between; 
    padding: 103px 230px;
    text-align: center;
}

.footer__top__title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.sales_discounts {
    margin-left: 30px; /****УТОЧНИТЬ*****/
    margin-right: 30px;
}

.footer__main {
    background-image: url(../images/index/footer_background_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__main__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer__wrap_main {
    width: 50%;
    padding: 86px 164px 126px 0;
}

.footer_img {
    margin-bottom: 30px;
}

.footer__main_text {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.footer__wrap_form {
    width: 50%;
    padding: 150px 0 156px 164px; 
}

.footer__form_title span {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.footer__form_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.footer__form {
    max-width: 100%;
    display: flex;
}

.footer__input, 
.footer__button { 
    border: 0;
    background: transparent;
    box-sizing: border-box; 
}

.footer__input {
    background: #E1E1E1;
    padding: 16px 64px 16px 22px;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    width: 256px;
    height: 49px;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
}

.footer__button {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F16D7F;
    padding: 16px 8px;
    border-radius: 0 25px 25px 0;
    width: 100px;
}

.footer__bottom__wrap {
    background-color: #222224;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.copyriting {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__bottom_text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.share {
padding-top: 24px;
padding-bottom: 24px;
}

.social {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    vertical-align: middle;
    background-color: #FFFFFF;
    background: url(../images/index/social_icon.png) no-repeat;
}
.social_facebook {
    background-position: 0 0;
}
.social_instagram {
    background-position: -38px 0;
}
.social_pinteres {
    background-position: -77px 0;
}
.social_twitter {
    background-position: -116px 0;
}