* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.uppercase {
    text-transform: uppercase;
}



.header {
    background-color: #222222;
    padding: 18px 0;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left-logo {
    margin-right: 41px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__section {
    list-style-type: none;
}

.menu__user {
    margin-right: 33px;
    margin-left: 33px;
}

.menu__cart {
    margin-right: 10px;
}



.new_top {
    background: #F8F3F4;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.new_top__text-left {
    padding: 60px 0;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.new_top__text-right {
    padding: 66px 0;
}

.new_top__text-right span {
    color: #F16D7F;
}



.main_top {
    display: flex;
    justify-content: space-between;
    padding: 51px 0 65px 16px; /***подумать по отступу справа***/
}

.filter_text {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 16px;
}

.filter::after {
    content: url(../images/catalog/filter-logo.svg);
    margin-left: 11px;
}

.filter_nav {
    margin-left: 304px;
    margin-right: auto;
}

.filter_list {
    display: flex;
    list-style-type: none;
}

.filter_selection {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-right: 28px;
}

.filter_selection::after {
    content: url(../images/catalog/arrow-logo.svg);
    margin-left: 10px;
}

.filter__block::webkit-details-marker {
    display: none;

} 

.filter__title {
    display: block;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    /*padding: 18px;*/
}

.filter_ul {
    list-style-type: none;
}

.filter_list {
    color: #6F6E6E;
    padding: 11px 0 11px 34px;
}
/***Доделать выпадающее меню***/
.size_list {
    list-style-type: none;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    padding: 10px 0;
    position: absolute;
}
.size_list_input:first-child,
.size_list_input:nth-child(2),
.size_list_input:nth-child(3) {
    margin-bottom: 10px;
}
.size_list li {
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}
/***Доделать выпадающее меню***/

.cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    padding-bottom: 96px;
}

/***Наведение на card***/
.card {
    background: #F8F8F8;
    position: relative;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .overlay {
    opacity: 1;
}

.btn {
    border: 1px solid #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 13px 16px 12px 50px;
    position: relative;
    background: rgba(58, 56, 56, 0.43);
}

.cart_hover {
    position: absolute;
    margin: auto;
    top: 10px;
    bottom: 8px;
    left: 13px;
}
/***Наведение на card***/

.card_content {
    text-align: left;
    padding: 25px 28px 20px 16px;
}

.card_link {
    text-decoration: none;
}

.card_title {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card_text {
    padding: 13px 0 18px;
}

.price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.carouse {
    border: 1px solid #EBEBEB;
    grid-column: 1/-1;
    margin: 18px auto 0;
    padding: 12px 15px;
}

.carouse button {
    outline: 0;
    background-color: #FFFFFF;
}

.carouse_page {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #EBEBEB;
}

.carouse_page:not(:nth-child(7)),
.carouse_page:not(:nth-child(8)) {
    margin-left: 15px;
}

.arrow_right {
    margin-left: 15px;
}

.carouse_page:hover {
    color: #EF5B70;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}
/***SVG при наведении***/
.arrow-page:hover {
    fill: #EF5B70;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}



.our_pluses {
    background-color: #222224;
    margin-top: auto;
}

.our_pluses__wrap {
    display: flex;
    justify-content: space-between; 
    padding: 103px 230px;
    text-align: center;
}

.our_pluses__all {
    display: flex;
}

.our_pluses__title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.plus {
    list-style-type: none;
}

.sales_discounts {
    margin-left: 30px;
    margin-right: 30px;
}



.feedback {
    background-image: url(../images/index/footer-background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
}

.feedback__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.feedback__wrap-text {
    width: 50%;
    padding: 86px 164px 126px 0;
}

.feedback_img {
    margin-bottom: 30px;
}

.feedback_text {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.feedback__wrap-form {
    width: 50%;
    padding: 150px 0 156px 164px; 
}

.span-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.feedback__form-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.feedback__form {
    max-width: 100%;
    display: flex;
}

.feedback__input, 
.feedback__button { 
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
}

.feedback__input {
    background: #E1E1E1;
    padding: 16px 64px 16px 22px;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    width: 256px;
    height: 49px;
    opacity: 0.67;
}

.feedback__input::placeholder {
    color: #222;
    font-size: 14px;
    line-height: 17px;
}

.feedback__input:hover::placeholder {
    color: #FFFFFF;
}

.feedback__input:hover {
    background-color: #222222;
}

.feedback__input:focus {
    outline: none;
    background-color: #F16D7F;
}

.feedback__button {
    color: #FFFFFF;
    background: #F16D7F;
    padding: 16px 8px;
    border-radius: 0 25px 25px 0;
    width: 100px;
}

.feedback__button:hover {
    background-color: #222222;
    color: #9F9F9F;
}



.footer {
    margin-top: auto;
    background-color: #222224;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.copyriting {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__wrap-text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__share {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    list-style-type: none;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fa-facebook-f {
    padding: 8px 11.5px;
}

.fa-instagram {
    padding: 8px 8px;
}

.fa-pinterest-p {
    padding: 8px 10px;
}

.fa-twitter {
    padding: 9.5px 8px;
}

.svg-inline--fa {
    fill: #000000;
    margin-left: 8px;
    background-color: #FFFFFF;
}

.svg-inline--fa:hover {
    fill: #FFFFFF;
    background-color: #F16D7F;
}