* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: "Lato", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: normal;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.text {
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
}

.uppercase {
   text-transform: uppercase;
}



.header {
   background-color: #222222;
   padding: 18px 0;
}

.wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left-logo {
   margin-right: 41px;
}

.menu {
   display: flex;
   align-items: center;
}

.menu__section {
   list-style-type: none;
}

.menu__user {
   margin-right: 33px;
   margin-left: 33px;
}

.menu__cart {
   margin-right: 10px;
}



.new_top {
   background: #F8F3F4;
}

.inner {
   display: flex;
   justify-content: space-between;
}

.new_top__text-left {
   padding: 60px 0;
   font-size: 24px;
   line-height: 29px;
   color: #F16D7F;
}

.new_top__text-right {
   padding: 66px 0;
}

.new_top__text-right span {
   color: #F16D7F;
}



.main_top {
   display: flex;
   align-items: center;
   background-color: #F7F7F7;
}

.arrow-product {
   fill: #000000;
   background-color: rgba(42, 42, 42, 0.15);
   padding: 12px 17px;
} 

.arrow-product:hover {
   fill: #F16D7F;
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}

.arrow_left {
   margin-right: auto;
   margin-left: 5px;/***увеличение при наведении, без горизонтального скролла***/
}

.product_image {
   padding: 11px 0 42px;
}

.arrow_right {
   margin-left: auto;
   margin-right: 5px;/***увеличение при наведении, без горизонтального скролла***/
}

.main_center {
   border: 1px solid #EAEAEA;
   margin-bottom: 129px;
   padding: 65px 0;
   margin-top: -60px;
   display: flex;
   justify-content: center;
}

.main_center__wrap {
   max-width: 641px;
   text-align: center;
}

.main_center__text {
   font-weight: 300;
   color: #F16D7F;
   padding-bottom: 12px;
   position: relative;
   text-align: center;
}

.main_center__text:after {
   content: "";
   position: absolute;
   width: 63px;
   bottom: 0;
   height: 3px;
   left: 50%;
   background-color:#EF5B70;
   margin: 0 0 0 -30px;
}

.main_center__title {
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;
   color: #4D4D4D;
   padding: 12px 0 48px 0;
}

.main_center__description {
   margin-bottom: 32px;
}

.main_center__price {
   font-weight: 300;
   font-size: 24px;
   line-height: 29px;
   color: #EF5B70;
}

.main_center__line {
   border: 1px solid #EAEAEA;
   margin-top: 65px;
   margin-bottom: 65px;
}

.filter_list {
   display: flex;
   list-style-type: none;
   margin-bottom: 48px;
   justify-content: center;
}

.filter_selection {
   text-decoration: none;
   font-size: 14px;
   line-height: 17px;
   color: #6F6E6E;
   margin-right: 28px;
}

.filter_selection::after {
   content: url(../images/catalog/arrow-logo.svg);
   margin-left: 10px;
}

.main_center__button {
   font-size: 16px;
   line-height: 19px;
   color: #F26376;
   background: #FFFFFF;
   border: 1px solid #FF6A6A;
   padding: 14px 56px 14px 23px;
   display: flex;
   align-items: center;
   margin: auto;
}

.cart_button {
   fill: #EF5B70;
   padding-right: 23px;
}

.main_center__button:hover {
   color: #FFFFFF;
   background: #F16D7F;
} 

.main_center__button:hover .cart_button {
   fill: #FFFFFF;
   background: #F16D7F;
}

.cards {
   display: grid;
   gap: 30px;
   grid-template-columns: repeat(auto-fit, 360px);
   padding-bottom: 128px;
   list-style-type: none;
}

/***Наведение на card***/
.card {
   background: #F8F8F8;
   position: relative;
   transition: 0.5s;
}

.card:hover {
   box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 420px;
   background-color: rgba(58, 56, 56, 0.86);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: 0.5s;
}

.card:hover .overlay {
   opacity: 1;
}

.btn {
   border: 1px solid #FFFFFF;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   padding: 13px 16px 12px 50px;
   position: relative;
   background: rgba(58, 56, 56, 0.43);
}

.cart_hover {
   position: absolute;
   margin: auto;
   top: 10px;
   bottom: 8px;
   left: 13px;
}
/***Наведение на card***/

.card_content {
   text-align: left;
   padding: 25px 28px 20px 16px;
}

.card_link {
   text-decoration: none;
}

.card_title {
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}

.card_text {
   padding: 13px 0 18px;
}

.price {
   font-size: 16px;
   line-height: 19px;
   color: #F16D7F;
}




.our_pluses {
   background-color: #222224;
   margin-top: auto;
}

.our_pluses__wrap {
   display: flex;
   justify-content: space-between; 
   padding: 103px 230px;
   text-align: center;
}

.our_pluses__all {
   display: flex;
}

.our_pluses__title {
   font-size: 19.96px;
   line-height: 24px;
   color: #FBFBFB;
   margin-top: 28px;
   margin-bottom: 16px;
}

.plus {
   list-style-type: none;
}

.sales_discounts {
   margin-left: 30px;
   margin-right: 30px;
}



.feedback {
   background-image: url(../images/index/footer-background-image.jpg);
   background-repeat: no-repeat;
   background-position: center;
   margin-top: auto;
}

.feedback__content {
   display: flex;
   justify-content: space-between;
   text-align: center;
}


.feedback__wrap-text {
   width: 50%;
   padding: 86px 164px 126px 0;
}

.feedback_img {
   margin-bottom: 30px;
}

.feedback_text {
   font-size: 20px;
   line-height: 24px;
   color: #222224;
}

.feedback__wrap-form {
   width: 50%;
   padding: 150px 0 156px 164px; 
}

.span-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 40px;
   text-align: center;
   color: #222224;
}

.feedback__form-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   color: #222224;
   margin-bottom: 32px;
}

.feedback__form {
   max-width: 100%;
   display: flex;
}

.feedback__input, 
.feedback__button { 
   border: none;
   box-sizing: border-box;
   font-size: 14px;
   line-height: 17px;
}

.feedback__input {
   background: #E1E1E1;
   padding: 16px 64px 16px 22px;
   border-radius: 25px 0 0 25px;
   border-right: 0;
   width: 256px;
   height: 49px;
   opacity: 0.67;
}

.feedback__input::placeholder {
   color: #222;
   font-size: 14px;
   line-height: 17px;
}

.feedback__input:hover::placeholder {
   color: #FFFFFF;
}

.feedback__input:hover {
   background-color: #222222;
}

.feedback__input:focus {
   outline: none;
   background-color: #F16D7F;
}

.feedback__button {
   color: #FFFFFF;
   background: #F16D7F;
   padding: 16px 8px;
   border-radius: 0 25px 25px 0;
   width: 100px;
}

.feedback__button:hover {
   background-color: #222222;
   color: #9F9F9F;
}



.footer {
   margin-top: auto;
   background-color: #222224;
}

.footer__wrap {
   display: flex;
   justify-content: space-between;
}

.copyriting {
   padding-top: 30px;
   padding-bottom: 30px;
}

.footer__wrap-text {
   font-size: 16px;
   line-height: 19px;
   color: #FBFBFB;
}

.footer__share {
padding-top: 24px;
padding-bottom: 24px;
display: flex;
list-style-type: none;
}

.social {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}

.fa-facebook-f {
   padding: 8px 11.5px;
}

.fa-instagram {
   padding: 8px 8px;
}

.fa-pinterest-p {
   padding: 8px 10px;
}

.fa-twitter {
   padding: 9.5px 8px;
}

.svg-inline--fa {
   fill: #000000;
   margin-left: 8px;
   background-color: #FFFFFF;
}

.svg-inline--fa:hover {
   fill: #FFFFFF;
   background-color: #F16D7F;
}