@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  /* padding: 0 calc(50% - 1140px / 2) */
  margin: 0 auto;
}

.text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.uppercase {
  text-transform: uppercase;
}

input,
button {
  font-family: inherit;
}

@media (max-width: 1190px) {
  .container {
    max-width: calc(768px - 16px * 2);
    /* padding: 0 calc(50% - 736px / 2); */
  }
}

@media (max-width: 768px) {
  .container {
    max-width: calc(375px - 8px * 2);
    /* padding: 0 calc(50% - 343px / 2); */
  }
}

.header {
  background-color: #222222;
  padding: 18px 0;
  position: relative;
  z-index: 3;
}

.header__left-logo {
  margin-right: 41px;
  text-decoration: none;
}

.header__burger-menu {
  position: absolute;
  top: 77px;
  right: -500px;
  z-index: 20;
  -webkit-transition: right 1s;
  transition: right 1s;
  display: none;
}

#burger {
  display: none;
}

#burger:checked ~ .header__burger-menu {
  display: block;
  right: 0;
}

/* #burger:not(checked) ~ .header__burger-menu {
   display: none;
} */
.menu-burger {
  width: 232px;
  background-color: #FFFFFF;
  height: calc(100vh - 77px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px 0 0 33px;
}

.menu-burger__wrap {
  position: relative;
}

.menu-burger__close {
  position: absolute;
  right: 10px;
  top: -20px;
}

.menu-burger__cross {
  fill: #6F6E6E;
}

.menu-burger__cross:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.menu-burger__cross:active {
  opacity: 0.5;
}

.menu-burger__title {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.menu-burger__heading {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.menu-burger__list {
  list-style-type: none;
}

.menu-burger__items {
  padding-left: 22px;
  margin-bottom: 11px;
}

.menu-burger__items:last-child {
  margin-bottom: 20px;
}

.menu-burger__items:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.menu-burger__links {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.menu-burger__links:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #a5a2a2;
}

.menu-burger__links:active {
  opacity: 0.5;
}

.menu-burger__duble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-burger__duble-list {
  list-style-type: none;
}

.menu-burger__user-icon {
  text-decoration: none;
}

.menu-burger__svg {
  fill: #F16D7F;
}

.menu-burger__svg:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.menu-burger__svg:active {
  opacity: 0.5;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__section {
  list-style-type: none;
}

.menu__section-burger {
  fill: #FFFFFF;
  background: #222222;
  outline: none;
}

.menu__section-burger:hover {
  fill: #F16D7F;
}

.menu__section-burger:active {
  opacity: 0.5;
}

.menu__user {
  margin-right: 33px;
  margin-left: 33px;
}

.menu__section-user {
  fill: #FFFFFF;
  background: #222222;
}

.menu__section-user:hover {
  fill: #F16D7F;
}

.menu__section-user:active {
  opacity: 0.5;
}

.menu__cart {
  margin-right: 10px;
}

.menu__section-cart {
  fill: #FFFFFF;
  background: #222222;
}

.menu__section-cart:hover {
  fill: #F16D7F;
}

.menu__section-cart:active {
  opacity: 0.5;
}

@media (max-width: 1190px) {
  .menu-burger {
    height: auto;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .menu__section-user {
    display: none;
  }
  .menu__section-cart {
    display: none;
  }
  .menu-burger {
    height: auto;
  }
}

@media (max-width: 475px) {
  .menu-burger {
    height: auto;
    width: 100%;
    padding-left: 100px;
  }
}

.new-top {
  background: #F8F3F4;
}

.new-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-top__text-left {
  padding: 60px 0;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.new-top__text-right {
  padding: 66px 0;
}

.new-top__text-right span {
  color: #F16D7F;
}

.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  position: relative;
}

.main-top__arrow-product {
  fill: #000000;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 12px 17px;
  position: absolute;
  outline: none;
}

.main-top__arrow-product:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.main-top__arrow-product:active {
  opacity: 0.5;
}

.main-top__arrow-left {
  margin-right: auto;
  left: 5px;
}

.main-top__product-image {
  padding: 11px 0 42px;
}

.main-top__arrow-right {
  margin-left: auto;
  right: 5px;
}

.main-center {
  border: 1px solid #EAEAEA;
  margin-bottom: 129px;
  padding: 65px 0;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #FFFFFF;
}

.main-center__wrap {
  max-width: 641px;
  text-align: center;
}

.main-center__text {
  font-weight: 300;
  color: #F16D7F;
  padding-bottom: 12px;
  position: relative;
  text-align: center;
}

.main-center__text::after {
  content: "";
  position: absolute;
  width: 63px;
  bottom: 0;
  height: 3px;
  left: 50%;
  background-color: #EF5B70;
  margin: 0 0 0 -30px;
}

.main-center__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding: 12px 0 48px 0;
}

.main-center__description {
  margin-bottom: 32px;
}

.main-center__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.main-center__line {
  border: 1px solid #EAEAEA;
  margin-top: 65px;
  margin-bottom: 65px;
}

.main-center__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-center__filter-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 28px;
  /* position: relative; */
}

.main-center__input-check {
  display: none;
}

.main-center__input-check:checked ~ .input-drop {
  display: block;
}

.main-center__input-check:not(:checked) ~ .input-drop {
  display: none;
}

.main-center__input-title {
  background-color: #FFFFFF;
  display: block;
}

.main-center__size-list {
  list-style-type: none;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  position: absolute;
  display: none;
  padding: 10px 12px 10px;
  z-index: 100;
  text-align: left;
}

.main-center__size-list-input {
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-center__input-arrow {
  margin-left: 10px;
}

.main-center__button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  padding: 14px 56px 14px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  outline: none;
}

.main-center__button:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.main-center__button:active {
  opacity: 0.5;
}

.cart-button {
  fill: #EF5B70;
  padding-right: 23px;
}

.main-center__button:hover .cart-button {
  fill: #FFFFFF;
  background: #F16D7F;
}

.cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  padding-bottom: 128px;
  list-style-type: none;
}

/***Наведение на card***/
.card {
  background: #F8F8F8;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__btn {
  border: 1px solid #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 16px 12px 50px;
  position: relative;
  background: rgba(58, 56, 56, 0.43);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card__cart-hover {
  position: absolute;
  margin: auto;
  top: 10px;
  bottom: 8px;
  left: 13px;
}

.card__content {
  text-align: left;
  padding: 25px 28px 20px 16px;
}

.card__link {
  text-decoration: none;
}

.card__title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__text {
  padding: 13px 0 18px;
}

.card__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.card:hover .card__overlay {
  opacity: 1;
}

.our-pluses {
  background-color: #222222;
  margin-top: auto;
}

.our-pluses__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 230px;
  text-align: center;
}

.our-pluses__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-pluses__title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.our-pluses__plus {
  list-style-type: none;
}

.our-pluses__sales-discounts {
  margin-left: 30px;
  margin-right: 30px;
}

.our-pluses__icon-1 {
  -webkit-animation: move 3s linear infinite;
  animation: move 3s linear infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  40% {
    -webkit-transform: translate(25px, -25px);
            transform: translate(25px, -25px);
  }
  60% {
    -webkit-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
  80% {
    -webkit-transform: translate(-25px, 0);
            transform: translate(-25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  40% {
    -webkit-transform: translate(25px, -25px);
            transform: translate(25px, -25px);
  }
  60% {
    -webkit-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
  80% {
    -webkit-transform: translate(-25px, 0);
            transform: translate(-25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.our-pluses__icon-2 {
  -webkit-animation: pulsar 3s linear infinite;
  animation: pulsar 3s linear infinite;
}

@-webkit-keyframes pulsar {
  0% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes pulsar {
  0% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.our-pluses__icon-3 {
  -webkit-animation: incline 3s linear infinite;
  animation: incline 3s linear infinite;
}

@-webkit-keyframes incline {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes incline {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.feedback {
  background-image: url(../images/index/footer-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: auto;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.feedback__wrap-text {
  width: 50%;
  padding: 86px 164px 126px 0;
}

.feedback__img {
  margin-bottom: 30px;
}

.feedback__text {
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  max-width: 95%;
}

.feedback__wrap-form {
  width: 50%;
  padding: 150px 0 156px 164px;
}

.feedback__span-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #222222;
}

.feedback__span-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.feedback__form-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
  margin-bottom: 32px;
}

.feedback__form {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__input, .feedback__button {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
}

.feedback__input {
  background: #E1E1E1;
  padding: 16px 64px 16px 22px;
  border-radius: 25px 0 0 25px;
  border-right: 0;
  width: 256px;
  height: 49px;
  opacity: 0.67;
}

.feedback__input::-webkit-input-placeholder {
  color: #222222;
  font-size: 14px;
  line-height: 17px;
}

.feedback__input:-ms-input-placeholder {
  color: #222222;
  font-size: 14px;
  line-height: 17px;
}

.feedback__input::-ms-input-placeholder {
  color: #222222;
  font-size: 14px;
  line-height: 17px;
}

.feedback__input::placeholder {
  color: #222222;
  font-size: 14px;
  line-height: 17px;
}

.feedback__input:hover::-webkit-input-placeholder {
  color: #FFFFFF;
}

.feedback__input:hover:-ms-input-placeholder {
  color: #FFFFFF;
}

.feedback__input:hover::-ms-input-placeholder {
  color: #FFFFFF;
}

.feedback__input:hover::placeholder {
  color: #FFFFFF;
}

.feedback__input:hover {
  background-color: #222222;
}

.feedback__input:focus {
  outline: none;
  background-color: #F16D7F;
}

.feedback__button {
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 8px;
  border-radius: 0 25px 25px 0;
  width: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

.feedback__button:hover {
  background-color: #E1E1E1;
  color: #F16D7F;
}

.feedback__button:active {
  opacity: 0.5;
}

.footer {
  margin-top: auto;
  background-color: #222222;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyriting {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__wrap-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__share {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__svg-inline-fa {
  fill: #000000;
  margin-left: 8px;
  background-color: #FFFFFF;
}

.footer__svg-inline-fa:hover {
  fill: #FFFFFF;
  background-color: #F16D7F;
}

.footer__fa-facebook-f {
  padding: 8px 11.5px;
}

.footer__fa-instagram {
  padding: 8px 8px;
}

.footer__fa-pinterest-p {
  padding: 8px 10px;
}

.footer__fa-twitter {
  padding: 9.5px 8px;
}

@media (max-width: 1190px) {
  .our-pluses__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 48px 0 64px;
  }
  .our-pluses__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 49%;
  }
  .our-pluses__title {
    margin-top: 28px;
    margin-bottom: 16px;
  }
  .our-pluses__plus {
    padding-top: 48px;
  }
  .our-pluses__sales-discounts {
    margin-left: 0;
    margin-right: 0;
  }
  .feedback {
    background-size: cover;
  }
  .feedback__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback__wrap-text {
    width: 47%;
    padding: 53px 0 48px;
  }
  .feedback__wrap-form {
    width: 47%;
    padding: 0 0 140px 0;
  }
}

@media (max-width: 768px) {
  .our-pluses__wrap {
    padding: 48px 0 81px;
  }
  .our-pluses__all {
    width: 93%;
  }
  .feedback__wrap-text {
    width: 100%;
    padding: 54px 0 59px;
  }
  .feedback__text {
    font-size: 18px;
    line-height: 22px;
  }
  .feedback__span-text {
    font-size: 14px;
    line-height: 22px;
  }
  .feedback__wrap-form {
    width: 100%;
    padding: 0 0 110px 0;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__share {
    padding: 43px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__copyriting {
    padding: 25px 0 24px;
    text-align: center;
  }
}
/*# sourceMappingURL=product.css.map */