* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: "Lato", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: normal;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.text {
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
}

.uppercase {
   text-transform: uppercase;
}



.header {
   background-color: #222222;
   padding: 18px 0;
}

.wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left-logo {
   margin-right: 41px;
}

.menu {
   display: flex;
   align-items: center;
}

.menu__section {
   list-style-type: none;
}

.menu__user {
   margin-right: 33px;
   margin-left: 33px;
}

.menu__cart {
   margin-right: 10px;
}



.new_top {
   background: #F8F3F4;
}

.inner {
   display: flex;
   justify-content: space-between;
}

.new_top__text-left {
   padding: 60px 0;
   font-size: 24px;
   line-height: 29px;
   color: #F16D7F;
   text-transform: uppercase;
}



.wrapper {
   display: flex;
   padding-top: 64px;
   padding-bottom: 96px;
}

.main__form {
   margin-right: 128px;
}

.form-registration {
   display: flex;
   flex-direction: column;
}

.form-title {
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: #222222;
}

.form-input {
   font-size: 13px;
   line-height: 16px;
   color: #B1B1B1;
   border: 1px solid #A4A4A4;
}

.form-input {
   margin-top: 21px;
   padding: 12px 0 15px 16px;
}

.form-input:hover::placeholder {
   color: #B1B1B1;
}

.wrap-radio-box {
   display: flex;
}

.label-check {
   margin: 31px 20px 33px 0;
}

.input-check {
   margin-right: 10px;
   font-size: 11px;
   line-height: 13px;
   color: #000000;
}

.form-text {
   margin-top: 15px;
   margin-bottom: 39px;
   font-size: 13px;
   line-height: 16px;
   color: #B1B1B1;

}

.form-button {
   font-size: 14px;
   line-height: 17px;
   border: 1px solid #A4A4A4;
   color: #000000;;
   background-color: #FFFFFF;
   padding: 16px 24px 16px 29px;
   margin: auto;
   display: flex;
   align-items: center;
}

.form-button:hover {
fill: #FFFFFF;
color: #FFFFFF;
background-color: #F16D7F;
}

.arrow_hor {
   margin-left: 20px;
   margin-right: -5px;
}

.advantages__title {
   text-transform: uppercase;
}

.advantages__paragraph {
   margin: 22px 0;
}

.advantages__text {
   font-weight: 300;
   font-size: 24px;
   line-height: 29px;
   color: #000000;
}

.bonus {
   list-style-type: none;
}

.bonus-list:nth-child(even) {
   margin: 16px 0;
}

.bonus-list::before {
   content: url(../images/registration/check-mark.svg);
   margin-right: 23px;
}



.our_pluses {
   background-color: #222224;
   margin-top: auto;
}

.our_pluses__wrap {
   display: flex;
   justify-content: space-between; 
   padding: 103px 230px;
   text-align: center;
}

.our_pluses__all {
   display: flex;
}

.our_pluses__title {
   font-size: 19.96px;
   line-height: 24px;
   color: #FBFBFB;
   margin-top: 28px;
   margin-bottom: 16px;
}

.plus {
   list-style-type: none;
}

.sales_discounts {
   margin-left: 30px;
   margin-right: 30px;
}



.feedback {
   background-image: url(../images/index/footer-background-image.jpg);
   background-repeat: no-repeat;
   background-position: center;
   margin-top: auto;
}

.feedback__content {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.feedback__wrap-text {
   width: 50%;
   padding: 86px 164px 126px 0;
}

.feedback_img {
   margin-bottom: 30px;
}

.feedback_text {
   font-size: 20px;
   line-height: 24px;
   color: #222224;
}

.feedback__wrap-form {
   width: 50%;
   padding: 150px 0 156px 164px; 
}

.span-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 40px;
   text-align: center;
   color: #222224;
}

.feedback__form-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   color: #222224;
   margin-bottom: 32px;
}

.feedback__form {
   max-width: 100%;
   display: flex;
}

.feedback__input, 
.feedback__button { 
   border: none;
   box-sizing: border-box;
   font-size: 14px;
   line-height: 17px;
}

.feedback__input {
   background: #E1E1E1;
   padding: 16px 64px 16px 22px;
   border-radius: 25px 0 0 25px;
   border-right: 0;
   width: 256px;
   height: 49px;
   opacity: 0.67;
}

.feedback__input::placeholder {
   color: #222;
   font-size: 14px;
   line-height: 17px;
}

.feedback__input:hover::placeholder {
   color: #FFFFFF;
}

.feedback__input:hover {
   background-color: #222222;
}

.feedback__input:focus {
   outline: none;
   background-color: #F16D7F;
}

.feedback__button {
   color: #FFFFFF;
   background: #F16D7F;
   padding: 16px 8px;
   border-radius: 0 25px 25px 0;
   width: 100px;
}

.feedback__button:hover {
   background-color: #222222;
   color: #9F9F9F;
}



.footer {
   margin-top: auto;
   background-color: #222224;
}

.footer__wrap {
   display: flex;
   justify-content: space-between;
}

.copyriting {
   padding-top: 30px;
   padding-bottom: 30px;
}

.footer__wrap-text {
   font-size: 16px;
   line-height: 19px;
   color: #FBFBFB;
}

.footer__share {
padding-top: 24px;
padding-bottom: 24px;
display: flex;
list-style-type: none;
}

.social {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}

.fa-facebook-f {
   padding: 8px 11.5px;
}

.fa-instagram {
   padding: 8px 8px;
}

.fa-pinterest-p {
   padding: 8px 10px;
}

.fa-twitter {
   padding: 9.5px 8px;
}

.svg-inline--fa {
   fill: #000000;
   margin-left: 8px;
   background-color: #FFFFFF;
}

.svg-inline--fa:hover {
   fill: #FFFFFF;
   background-color: #F16D7F;
}